#!/bin/bash

#stop on errors
set -e

lockfile=/var/lock/subsys/clear_opcache

if [ ! -e $lockfile ]; then
   trap "rm -f $lockfile; exit" INT TERM EXIT
   touch $lockfile
   service php-fpm restart
   rm $lockfile
   trap - INT TERM EXIT
else
   echo "Opcache clear cache is already running"
fi